{% extends 'app/base.html' %}
{% block title %}Ecommerce{% endblock title %}
{% load static %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>hello {{user}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'login' %}" class="btn btn-primary">Change Password Done</a></li>
            </ul>
        </div>
        <div class="col-sm-6 offset-sm-1">
            <h3>Password Change Successfully done </h3>
            <hr>
            <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowFullScreen></iframe></div>
        </div>
    </div>
</div>
{% endblock main-content %}