{% extends 'app/base.html' %}
{% block title %}Ecommerce{% endblock title %}
{% load static %}
{% block main-content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <form action="" method="post" novalidate class="shadow-sm p-5">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}> {{message}}</p>
                {% endfor %}
                {% endif %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-danger"> {{fm.errors|striptags}}</small><br>
                </div>
                {% endfor %}
                <input type="submit" value="Save" class="btn btn-primary">
                <br>
                {% if form.non_fields_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>

        </div>
    </div>
</div>
{% endblock main-content %}