{% extends 'app/base.html' %}
{% load static %}
{% block title %}Ecommerce{% endblock title %}


{% block main-content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'shop' %}">Shop</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action="" class="checkout-form">
                <div class="row">
                    {% for ad in add %}
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a href="{% url 'login' %}" class="content-btn">Click Here To Login</a>
                        </div>
                        <h4>Biiling Details</h4>
                        <div class="row">   

                            <div class="col-lg-6">
                                <label for="fir">Name<span>*</span></label>
                                <input type="text", value="{{ad.name}}" id="fir" >
                            </div>
                            <div class="col-lg-12">
                                <label for="cun">Country<span>*</span></label>
                                <input type="text", value='INDIA' id="cun">
                            </div>
                            <div class="col-lg-6">
                                <label for="phone">State<span>*</span></label>
                                <input type="text" , value="{{ad.state}}" id="phone">
                            </div>
                            <div class="col-lg-12">
                                <label for="town">Town / City<span>*</span></label>
                                <input type="text" value="{{ad.city}}" id="town">
                            </div>
                            <div class="col-lg-12">
                                <label for="street">Street Address<span>*</span></label>
                                <input type="text" , value="{{ad.user}} , {{ad.locality}}, {{ad.city}} , {{ad.state}} ,{{ad.zipcode}}" id="street" class="street-first">
                            </div>
                            <div class="col-lg-12">
                                <label for="zip">Postcode / ZIP (optional)</label>
                                <input type="text" , value="{{ad.zipcode}}" id="zip">
                            </div>
                            
                            <div class="col-lg-6">
                                <label for="email">Username<span>*</span></label>
                                <input type="text" , value="{{request.user.username}}" id="email">
                            </div>
                            
                            
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <input type="text" placeholder="Enter Your Coupon Code">
                        </div>
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table">
                                    <li>Product <span>Total</span></li>
                                    <li class="fw-normal">Subtotal <span>{{amount}}</span></li>
                                    <li class="fw-normal">Deliver Charge <span>Rs {{shipping_amount}}</span></li>
                                    <li class="total-price">Total <span>{{totalamount}}</span></li>
                                </ul>
                                <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="order-btn">
                                    <button type="submit"><a href="{% url 'orderplaced' %}" class="site-btn place-btn" >order placed</a></button>
                                    <!-- a<button type="submit"  href="{% url 'orderplaced' %}"  > placed order  </button>a -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

{% endblock main-content %}