{% extends 'app/base.html' %}
{% load static %}
{% block title %}Ecommerce{% endblock title %}


{% block main-content %}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <a href="{% url 'shop' %}">Shop</a>
                    <span>Shopping Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="p-name">Product Name</th>
                                <th>Product Price</th>
                                <th>Quantity</th>
                                <th><i class="ti-close"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr>
                                <td class="cart-pic first-row"><img src="{{cart.product.product_images.url}}" alt="">
                                </td>
                                <td class="cart-title first-row">
                                    <h5>{{cart.product.title}}</h5>
                                </td>
                                <td class="p-price first-row">{{cart.product.discounted_price}}</td>
                                <td class="qua-col first-row">
                                    <div class="quantity">
                                        <div class="my-3">
                                            {% if cart.quantity > 1 %}
                                            <a class="minus-cart btn "><a href="{% url 'minuscart' cart.id %}">-</a><i class="fas fa-minus-square fa-lg "></i></a>
                                            {% endif %}
                                            <span id="quantity">{{cart.quantity}}</span><a class="plus-cart btn" pid="{{cart.product.id}}"><a href="{% url 'pluscart' cart.id %}">+</a><i class="fas fa-plus-square fa-lg"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="close-td first-row"> <a href="{% url 'removecart' cart.id %}"><i
                                            class="ti-close"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cart-buttons">
                            <a href="#" class="primary-btn continue-shop">Continue shopping</a>
                            <a href="#" class="primary-btn up-cart">Update cart</a>
                        </div>
                        <div class="discount-coupon">
                            <h6>Discount Codes</h6>
                            <form action="#" class="coupon-form">
                                <input type="text" placeholder="Enter your codes">
                                <button type="submit" class="site-btn coupon-btn">Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="subtotal">Subtotal <span>{{amount}}</span></li>
                                <li class="cart-total">shipping <span>Rs70</span></li>
                                <li class="cart-total">Total amount <span>{{totalamounts}}</span></li>

                            </ul>
                            <a href="{% url 'checkout' %}" class="proceed-btn">PROCEED TO CHECK OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

{% endblock main-content %}